body {
 background-color: aquamarine; 
}

.box-purple {
  background: rebeccapurple;
  float: left;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

.box-red {
  background: red;
  padding: 50px;
  float: left;
  clear: both;
}


.box-blue {
  margin: 50px;
  background: blue;
  float: left;
}

img {
  float: left; /*imporant for put text and img together*/
  width: 200px;
  height: 200px;
}
