body {
 background-color: aquamarine; 
}

p {
  outline: 3px solid red;
}

.box-purple {
  background: rebeccapurple;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.box-red {
  width: 300px;
  background: red;
}


.box-blue {
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  border: 5px solid black;
  background: blue;
}

img {
  /*float: left; /*imporant for put text and img together*/
  width: 200px;
  height: 200px;
}

.btn {
  display: inline-block;
  background: lightblue;
  color:black;
  padding: 25px 75px;
  text-decoration: none;
  margin: 5px;
}

.btn:hover{
  background: darkblue;
  color: white;
}