body {
 background-color: aquamarine; 
}

p{
  margin-top: 100px;
}

a[data-tool-tip]{
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: gray;
  padding: 1em 3em;
  color: white;
  border-radius: 5px;
  font-size: .8em;
  bottom: 100%;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: 
    transform ease-out 150ms,
    bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 100%;
}

p::after {
  content: '';
  background: red;
  display: block;
  width: 10px;
  height: 10px;
}

.box-purple {
  background: rebeccapurple;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.box-red {
  width: 300px;
  background: red;
  transition-duration: 1000ms;
  /* transition-property: background,transform;
  transition-timing-function: ease-in;
  transition-delay: 200ms; */
  transition: background 1s ease-in, transform 500ms ease-out;
}

.box-red:hover {
  width: 300px;
  background: yellow;
  transform: rotate(45deg);
}


.box-blue {
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  border: 5px solid black;
  background: blue;
}

img {
  /*float: left; /*imporant for put text and img together*/
  width: 200px;
  height: 200px;
}

.btn {
  display: inline-block;
  background: lightblue;
  color:black;
  padding: 25px 75px;
  text-decoration: none;
  margin: 5px;
}

.btn:hover{
  background: darkblue;
  color: white;
}

.section {
  position: relative;
}

.section::before {
  counter-increment: counter-name;
  content: counter(counter-name);
  position: absolute;
  left: 2.5em;
  background: white;
  padding: .5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  color: black;
}

.counters ol{
  counter-reset: ordered-list;
  list-style: none;
}

.counters li::before {
  counter-increment: ordered-list;
  content: 'list item ' counter(ordered-list)
}